API_PORT=8080

POSTGRES_DB=nexocommerce
POSTGRES_USER=nexo_user
POSTGRES_PASSWORD=ChangeMe_Postgres123!
POSTGRES_PORT=5432

REDIS_PASSWORD=ChangeMe_Redis123!
REDIS_PORT=6379

JWT_ISSUER=NexoCommerceAI
JWT_AUDIENCE=NexoCommerceAI.Client
JWT_SECRET_KEY=ChangeMe_JwtSecretKey_WithAtLeast32Chars

PAYMENTS_WEBHOOK_SECRET=whsec_local_dev_example
